<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag current_user.avatar, class: "avatar mx-auto d-block" %>
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <div class="col-lg-8">
      </div>
    </div>
  </div>
</div>